{% extends 'base.html' %}
{% block title %}Login | Course Management{% endblock %}

{% block content %}
<div class="row justify-content-center" style="min-height: 70vh;">
    <div class="col-md-5 col-lg-4">
        <div class="app-card">
            <h3 class="text-center mb-4">Login</h3>
            <form method="post" novalidate>
                {% csrf_token %}

                <div class="mb-3">
                    <input type="text" name="username" class="form-control" placeholder="Username" required>
                </div>
                <div class="mb-3">
                    <input type="password" name="password" class="form-control" placeholder="Password" required>
                </div>

                <button class="btn btn-primary btn-pill w-100">Login</button>
            </form>

            <div class="text-center mt-3">
                <small>New user? <a href="/register/">Create an account</a></small>
            </div>
        </div>
    </div>
</div>
{% endblock %}